# Игнорируем всё внутри папок cf и src
cf/
src/

# Но разрешаем файл .gitkeep, чтобы сами папки сохранялись в репозитории
!cf/.gitkeep
!src/.gitkeep

# Остальные игнорируемые файлы
*.cf
*.cfe
*.erf
*.epf
*.mxl
*.bin
*.zip
*.png
*.gif
*.bmp
*.jpg
*.ico